.bookmark_tip {
  position: fixed;
  top: 0;
  right: -360px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 1000000;
  margin: 12px 10px;
  text-align: left;
  font-size: 14px;
}

.bookmark_tip .title {
  font-weight: bolder;
  font-size: 18px;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
}

.bookmark_tip .url, .bookmark_tip #btn_box, .bookmark_tip #blockmsg {
  margin-top: 10px;
}

.bookmark_tip .button-success,
.bookmark_tip .button-error,
.bookmark_tip .button-warning,
.bookmark_tip .button-secondary,
.bookmark_tip .button-yellow {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bookmark_tip .button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.bookmark_tip .button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.bookmark_tip .button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.bookmark_tip .button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.bookmark_tip .button-yellow {
	background: rgb(250, 210, 50);
}

.bookmark_tip .pure-button {
  display: block;
  margin-top: 6px;
  width: 100%;
}
